[Unit]
Description=change password Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/change_pass/main.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
